    <section class="footer">
      <p>
        <span class="footer-name">
          {{ .Site.Params.footer_text }}
        </span>
        <span class="footer-year" id="currentYear">2018</span>
        <span class="footer-separator">|</span>
        <span><a href="{{ .Site.Params.site_source }}">Source</a></span>
      </p>

      <script>
        document.querySelector('#currentYear').textContent = new Date().getFullYear();
      </script>

      {{ if eq .Section "post" }}
      <script src="{{ .Site.BaseURL }}js/highlight.pack.js"></script>
      <script>hljs.initHighlightingOnLoad();</script>
      {{ end }}
    </section>
  </body>
</html>
