:root {
  --container-max-width: 50rem;
}

body {
  color: #333;
  font-size: 100%;
  line-height: 1.5;
  font-family: Calibri, "Open Sans", Helvetica, sans-serif;
}


/**
 * ===========================================================================
 * Base styles
 */

h1 {
  font-weight: 500;
}

h2, h3 {
  font-weight: 400;
}

a {
  color: #333;
  overflow-wrap: break-word;
  padding: 1px 2px;
  border-radius: 5px;
  text-decoration: underline dotted #777;
}

a:hover {
  background-color: #ffe69c;
  text-decoration: none;
}

a.zola-anchor {
  font-size: 80%;
  text-decoration: none;
  display: inline-block;
  margin-left: 0.4rem;
  padding: 0 5px;
}

code {
  font-size: 90%;
  padding: 2px 4px;
  margin: 0 2px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f7f7f7;
}

pre {
  white-space: pre;
  word-wrap: normal;
  padding: 0.5rem;
}

pre code {
  display: block;
  border: 0;
  overflow-x: auto;
  font: normal 9pt Consolas, Monaco, monospace;
  background-color: inherit;
}

blockquote {
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 0.1rem 1rem 0.1rem 1rem;
  border-left: 10px solid #6ea8fe;
  background-color: #f0f6ff;
}

strong {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.5rem;
  border-bottom: 1px solid rgb(222, 226, 230);
}

table th {
  text-align: inherit;
  border-color: rgb(33, 37, 41);
}

table tbody tr:hover {
  background-color: #f0f6ff;
}

/**
 * ===========================================================================
 * Layout
 */

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: 0 0.3rem;
  box-sizing: border-box;
}

.footer {
  margin: 1.5rem 0;
  text-align: center;
  font-size: 90%;
}

.footer-separator {
  padding: 0 0.3rem;
  color: #ccc;
}

.header {
  margin: 2rem auto;
  display: flex;
  width: 26rem;
  max-width: 100%;
}

.navigation {
  margin-left: 1rem;
}

.header-logo > a {
  display: inline-block;
}

.header-logo img {
  margin: 4px 3px 0 3px;
}

.header-home {
  position: relative;
  border: 3px solid #ddd;
  /*padding: 0.5rem;*/
  border-radius: 1rem;
}

/* Chat bubble (cheers: https://codepen.io/Founts/pen/gmhcl) */
.header-home:before,
.header-home > a:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: auto;
  top: auto;
}

.header-home:before {
  left: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #ddd transparent transparent #ddd;
}

.header-home > a {
  display: block;
  margin: 0;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
}

.header-home > a:hover {
  text-decoration: underline;
  background-color: inherit;
}

.header-home > a:after {
  left: 34px;
  bottom: -31px;
  border: 16px solid;
  border-color: #fff transparent transparent #fff;
}

.header-home > a > h1 {
  margin: 0;
}

.header-external {
  margin: 3.5rem 0 0 0;
  padding-left: 1.2rem;
}

.header-external > li {
  padding: 0.2rem 0;
  margin-right: 1rem;
}

.header-external a {
  font-size: 1.1rem;
}

.pager {
  display: flex;
  justify-content: space-between;
}

.pager-item > a,
.pager-item > span {
  display: block;
  position: relative;
  padding: 0.5rem 1.5rem;
  background-color: #eee;
  border-radius: 0.3rem;
}

.pager-item > a:hover {
  background-color: #ddd;
}

.pager-left .pager-item a {
  padding-left: 2.0rem;
}

.pager-right .pager-item a {
  padding-right: 2.0rem;
}

.pager-item > span {
  opacity: 0.5;
  cursor: not-allowed;
}

.pager-item a:before {
  position: absolute;
  top: 0;
  font-size: 1.5rem;
}

.pager-left .pager-item a:before {
  left: 1.0rem;
  content: "\2039";
}

.pager-right .pager-item a:before {
  right: 1.0rem;
  content: "\203A";
}


/**
 * ===========================================================================
 * Post
 */

.post-body {
  display: flex;
}

.table-of-contents {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  position: sticky;
  top: 0;
  align-self: flex-start;
  box-sizing: border-box;
  padding-top: 2rem;
}

.table-of-contents > ul {
  padding-left: 1.5rem;
  max-width: 25rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.post-body .blank {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

@media (max-width: 88rem)  {
  .post-body {
    display: block;
  }

  .table-of-contents {
    position: static;
    padding-top: 0;
  }

  .table-of-contents > ul {
    max-width: var(--container-max-width);
    padding-top: 0;
    padding-left: 3rem;
  }
}

@media (max-width: 400px)  {
  .table-of-contents > ul {
    padding-left: 1rem;
  }
}

.post-meta {
  line-height: 1.15;
  margin-bottom: 0;
}

.post-date {
  display: inline-block;
  color: #444;
  font-size: 1rem;
  padding-right: 0.3rem;
}

.post-type {
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  background-color: #6c757d;
  color: #fff;
  padding: 0.15rem 0.5rem;
}

.post-meta {
  font-size: 1rem;
}

.post-title {
  line-height: 1.25;
  margin-top: 0.1rem;
}

.post-title > a {
  color: #222;
  text-decoration: none;
}

.post-short {
  margin-bottom: 1rem;
}

.post-content img {
  max-width: 100%;
}

.post-content ul,
.post-content ol {
  padding-left: 2rem;
}

.post-content h2,
.post-content h3 {
  padding: 0.2rem 0 0.2rem 0.7rem;
  border-left: 4px solid #adb5bd;
}

.post-content h2:target,
.post-content h3:target {
  border-color: #dc3545;
  background-color: #fff5f6;
}

@media (max-width: 400px)  {
  .post-content ul,
  .post-content ol {
    padding-left: 1rem;
  }
}
