@import url("/syntax-theme-dark.css") (prefers-color-scheme: dark);
@import url("/syntax-theme-light.css") (prefers-color-scheme: light);

:root {
  --container-max-width: 50rem;
  --bg-color: #fff;
  --text-color: #333;
  --title-color: #222;
  --date-color: #676767;
  --a-hover-color: #ffe69c;
  --code-bg-color: #f7f7f7;
  --code-border-color: #ddd;
  --quote-bg-color: #f0f6ff;
  --target-bg-color: #fff5f6;
  --pager-bg-color: #eee;
  --table-hover-color: #f0f6ff;

  --like-border-color: #9999ac;
  --like-border-active-color: #826e30;
  --like-border-hover-color: #f3f3f3;
  --like-border-inset-shadow-color: #dde;

  --mermaid-label-color: #555;
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --text-color: #f1f1f1;
    --title-color: #eee;
    --date-color: #888;
    --a-hover-color: #826e30;
    --code-bg-color: #333;
    --code-border-color: #999;
    --quote-bg-color: #323335;
    --target-bg-color: #373434;
    --pager-bg-color: #444;
    --table-hover-color: #333;

    --like-border-hover-color: #222;
    --like-border-inset-shadow-color: #666;

    --mermaid-label-color: #bbb;
  }

  .header-home > a::after {
    border-color: var(--bg-color) transparent transparent var(--bg-color) !important;
  }
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-size: 100%;
  line-height: 1.5;
  font-family: Calibri, "Open Sans", Helvetica, sans-serif;
}


/**
 * ===========================================================================
 * Base styles
 */

h1 {
  font-weight: 500;
}

h2, h3 {
  font-weight: 400;
}

a {
  color: var(--text-color);
  overflow-wrap: break-word;
  padding: 1px 2px;
  border-radius: 5px;
  text-decoration: underline dotted #777;
  text-decoration-thickness: from-font;
}

a:hover {
  background-color: var(--a-hover-color);
  text-decoration: none;
}

a.zola-anchor {
  font-size: 80%;
  text-decoration: none;
  display: inline-block;
  margin-left: 0.4rem;
  padding: 0 5px;
}

code {
  font-size: 90%;
  padding: 2px 4px;
  margin: 0 2px;
  border: 1px solid var(--code-border-color);
  border-radius: 4px;
  background-color: var(--code-bg-color);
}

pre {
  white-space: pre;
  word-wrap: normal;
  padding: 0.5rem;
}

pre code {
  display: block;
  border: 0;
  overflow-x: auto;
  font: normal 9pt Consolas, Monaco, monospace;
  background-color: inherit;
}

blockquote {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.1rem 1rem 0.1rem 1rem;
  border-left: 10px solid #6ea8fe;
  background-color: var(--quote-bg-color);
}

strong {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.5rem;
  border-bottom: 1px solid rgb(222, 226, 230);
}

table th {
  text-align: inherit;
  border-color: rgb(33, 37, 41);
}

table tbody tr:hover {
  background-color: var(--table-hover-color);
}

pre > code > table > tbody > tr > td {
  padding: 0;
  border: 0;
}

/**
 * ===========================================================================
 * Layout
 */

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  box-sizing: border-box;
  flex-grow: 1;
}

.footer {
  margin: 1.5rem 0;
  text-align: center;
  font-size: 90%;
}

.footer-separator {
  padding: 0 0.3rem;
  color: #ccc;
}

.header {
  margin: 2rem auto;
  max-width: 100%;
  display: flex;
}

.header-logo {
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.header-logo > a {
  display: inline-block;
}

.header-logo img {
  margin: 4px 3px -4px 3px;
  width: 100px;
}

.header-home {
  margin: 0 1rem;
  position: relative;
  border: 3px solid #ddd;
  border-radius: 1rem;
}

/* Chat bubble (cheers: https://codepen.io/Founts/pen/gmhcl) */
.header-home:before,
.header-home > a:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: auto;
  top: auto;
}

.header-home:before {
  left: 30px;
  bottom: -40px;
  border: 20px solid;
  border-color: #ddd transparent transparent #ddd;
}

.header-home > a {
  display: block;
  margin: 0;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
}

.header-home > a:hover {
  text-decoration: underline;
  background-color: inherit;
}

.header-home > a:after {
  left: 34px;
  bottom: -31px;
  border: 16px solid;
  border-color: #fff transparent transparent #fff;
}

.header-home h2 {
  margin: 0;
}

.header-external {
  margin: 3.5rem 0 0 0;
  padding-left: 1.2rem;
}

.header-external > li {
  padding: 0.2rem 0;
  margin-right: 1rem;
}

.header-external a {
  font-size: 1.1rem;
}

@media (max-width: 480px) {
  .header-logo img {
    width: 80px;
  }

  .header-home::before,
  .header-home::after {
    border: 0;
  }

  .header-home {
    border: 0;
    font-size: 16px;
  }

  .header-home a {
    padding: 0;
  }

  .header-home a::after {
    display: none;
  }

  .header-external {
    margin-top: 0.5rem;
  }

  .navigation {
    margin-left: 2rem;
    display: block;
  }
}

.pager {
  display: flex;
  justify-content: space-between;
}

.pager-item > a,
.pager-item > span {
  display: block;
  position: relative;
  padding: 0.5rem 1.5rem;
  background-color: var(--pager-bg-color);
  border-radius: 0.3rem;
}

.pager-item > a:hover {
  text-decoration: underline;
}

.pager-left .pager-item a {
  padding-left: 2.0rem;
}

.pager-right .pager-item a {
  padding-right: 2.0rem;
}

.pager-item > span {
  opacity: 0.5;
  cursor: not-allowed;
}

.pager-item a:before {
  position: absolute;
  top: 0;
  font-size: 1.5rem;
}

.pager-left .pager-item a:before {
  left: 1.0rem;
  content: "\2039";
}

.pager-right .pager-item a:before {
  right: 1.0rem;
  content: "\203A";
}


/**
 * ===========================================================================
 * Post
 */

.post-body {
  display: flex;
}

.table-of-contents {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  position: sticky;
  top: 0;
  align-self: flex-start;
  box-sizing: border-box;
  padding-top: 2rem;
}

.table-of-contents > ul {
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  max-width: 25rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.post-body .blank {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

@media (max-width: 80rem)  {
  .post-body {
    display: block;
  }

  .table-of-contents {
    position: static;
    padding-top: 0;
  }

  .table-of-contents > ul {
    max-width: var(--container-max-width);
    padding-top: 0;
    padding-left: 3rem;
  }
}

@media (max-width: 400px)  {
  .table-of-contents > ul {
    padding-left: 1rem;
  }
}

.post-meta {
  line-height: 1.15;
  margin-bottom: 0;
}

.post-date {
  display: inline-block;
  color: var(--date-color);
  font-size: 15px;
  padding-right: 0.3rem;
}

.post-meta {
  font-size: 1rem;
}

.post-title {
  line-height: 1.25;
  margin-top: 0.1rem;
}

.post-title > a {
  color: var(--title-color);
  text-decoration: none;
}

.post-short {
  margin-bottom: 1.5rem;
}

.post-content img {
  max-width: 100%;
}

.post-content > p > img {
  margin: 0 auto;
  display: block;
}

.post-content a.img-link {
  background-color: inherit;
  padding: 0;
}

.post-content ul,
.post-content ol {
  padding-left: 2rem;
}

.post-content > h2,
.post-content > h3 {
  padding: 0.2rem 0 0.2rem 0.7rem;
  border-left: 4px solid #adb5bd;
}

.post-content h2:target,
.post-content h3:target {
  border-color: #dc3545;
  background-color: var(--target-bg-color);
}

@media (max-width: 400px)  {
  .post-content ul,
  .post-content ol {
    padding-left: 1rem;
  }
}

.like-box {
  height: 40px;
  display: flex;
  align-items: flex-end;
}

.like-btn {
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 10px;
  background: transparent;
  color: var(--text-color);
  font-size: 14px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--like-border-color);
  /* First shadow is under the button. Second is that lane inside */
  box-shadow: 0 4px 3px 0 rgba(20,20,96,.1), inset 0 -5px 0 0 var(--like-border-inset-shadow-color);
  transition: padding-bottom 0.2s, box-shadow 0.2s;
}

.like-btn:hover {
  background-color: var(--like-border-hover-color);
}

.like-btn:disabled,
.like-btn:active {
  padding-bottom: 6px;
  background-color: var(--a-hover-color);
  border-color: var(--like-border-active-color);
  box-shadow: 0 0px 0px 0 rgba(20,20,96,.1), inset 0 0 0 0 var(--like-border-inset-shadow-color);
}

.footnote-definition:first-of-type {
  border-top: 1px solid #eee;
}

.footnote-definition {
  display: flex;
}

.footnote-definition:target {
  background-color: var(--target-bg-color);
}

.footnote-definition p {
  margin: 0.2rem;
}

.mermaid-block > pre {
  margin-bottom: 0;
}

.mermaid-block svg {
  margin: 0 auto;
  display: block;
}

.mermaid-label {
  text-align: center;
  color: var(--mermaid-label-color);
  font-size: 14px;
}

.img-block-list {
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

.img-block-label {
  padding-top: 8px;
  text-align: center;
  color: var(--mermaid-label-color);
  font-size: 14px;
}

.poll {
  display: inline-block;
  background-color: var(--quote-bg-color);
  padding: 0 16px 16px 16px;
}

.poll h4 {
  margin: 0;
  padding: 16px 0;
}

.poll ul {
  padding: 0;
  margin: 0 16px;
  list-style-type: circle;
  list-style-type: "○";
}

.poll li {
  padding: 4px 0 4px 8px;
}

.poll li.voted {
  list-style-type: "✓";
}

.draw-by-zaynetro {
  display: flex;
}

.draw-editor {
  width: 65%;
}

.draw-output {
  width: 35%;
}

.draw-error {
  color: #c00;
  padding: 0 16px;
}

.draw-editor > textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  height: 250px;
}

@media (max-width: 480px) {
  .draw-by-zaynetro {
    display: block;
  }

  .draw-editor,
  .draw-output {
    width: 100%;
  }
}
