{% set meta = get_image_metadata(path=path) %}
<a href="{{ get_url(path=path) }}" class="img-link">
    <picture>
        {% if meta.width > 1000 %}
          {% set image_1x = resize_image(path=path, width=500, op='fit_width') %}
          {% set image_2x = resize_image(path=path, width=1000, op='fit_width') %}
          <source media="(max-width: 500px)" srcset="{{ image_1x.url }}, {{ image_2x.url }} 2x" />
        {% elif meta.width > 500 %}
          {% set image_1x = resize_image(path=path, width=500, op='fit_width') %}
          <source media="(max-width: 500px)" srcset="{{ image_1x.url }}" />
        {% endif %}

        {% if meta.width > 1600 %}
          {% set image_1x = resize_image(path=path, width=800, op='fit_width') %}
          {% set image_2x = resize_image(path=path, width=1600, op='fit_width') %}
          <img src="{{ image_2x.url }}" srcset="{{ image_1x.url }}, {{ image_1x.url }} 2x" loading="lazy" alt="{{ alt }}" width="{{ image_2x.width }}" height="{{ image_2x.height }}" />
        {% elif meta.width > 800 %}
          {% set image_1x = resize_image(path=path, width=800, op='fit_width') %}
          <img src="{{ image_1x.url }}" loading="lazy" alt="{{ alt }}" width="{{ image_1x.width }}" height="{{ image_1x.height }}" />
        {% else %}
          {% set image_1x = resize_image(path=path, width=500, op='fit_width') %}
          <img src="{{ image_1x.url }}" loading="lazy" alt="{{ alt }}" width="{{ image_1x.width }}" height="{{ image_1x.height }}" />
        {% endif %}

        {# Once zola supports webp we can also do this: #}
        {# At some point zola will suport AVIF content type as well #}
        {# <source type="image/webp" srcset="pyramid.webp"> --> #}
    </picture>
</a>
