{{ partial "header" . }}

<section class="posts">
  <div class="container">
    {{ range sort .Paginator.Pages }}
    <article class="post-short">
      <h3 class="post-meta">
        <span class="post-date">{{ .Date.Format "January 2, 2006" }}</span>
        <span class="post-type">{{ .Type }}</span>
      </h3>
      <h2 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ if .Draft }} ::Draft{{ end }}
      </h2>

    </article>
    {{ end }}
  </div>
</section>

{{ partial "pager" . }}
{{ partial "footer" . }}
