@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #333;
  --bg-color: #fff;
  --a-hover-color: #ffe69c;
}


@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f1f1f1;
    --bg-color: #111;
    --a-hover-color: #826e30;
  }

  body {
    background-color: var(--bg-color);
  }
}

body {
  color: var(--text-color);
}

a {
  color: var(--text-color);
  overflow-wrap: break-word;
  padding: 1px 2px;
  border-radius: 5px;
  /* Safari doesn't support dotted text-decoration so first we define a value that it supports. */
  text-decoration: underline;
  text-decoration: underline dotted #777;
  text-decoration-thickness: from-font;
}

a:hover {
  background-color: var(--a-hover-color);
  text-decoration: none;
}
