<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page and page.title %}
  <title>{{ page.title }} | {{ config.title }}</title>
  <meta property='og:title' content="{{ page.title }} | {{ config.title }}">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
  {% else %}
  <title>{{ config.title }}</title>
  <meta property='og:title' content="{{ config.title }}">
  <meta name="description" content="{{ config.description }}">
  {% endif %}

  {% if page and page.extra and page.extra.preview_image %}
    {% set path = page.extra.preview_image.href %}
    {% set image = resize_image(path=path, width=300, op='fit_width', format='jpeg') %}
    <meta property='og:image' src="{{ image.url | safe }}" />
    <meta property='og:image:width' src="{{ image.width }}" />
    <meta property='og:image:height' src="{{ image.height }}" />
  {% endif %}

  <link rel="icon" href="/favicon.png" />
  <link rel="stylesheet" href="/css/main.css" />
  {% if page and page.title %}
  <link rel="stylesheet" href="/syntax-theme-dark.css" media="(prefers-color-scheme: dark)" />
  <link rel="stylesheet" href="/syntax-theme-light.css" media="(prefers-color-scheme: light)" />
  {% endif %}
  <script defer data-domain="zaynetro.com" src="/js/stats.js"></script>
  <body>
    <header>
      <div class="container">
        <div class="header">
          <div class="header-logo">
            <a href="/">
              <picture>
                {% set path = "/images/logo.png" %}
                {# For mobile: #}
                {% set mobile_1x = resize_image(path=path, width=80, op='fit_width', format='webp') %}
                {% set mobile_2x = resize_image(path=path, width=160, op='fit_width', format='webp') %}
                <source media="(max-width: 500px)" srcset="{{ mobile_1x.url }}, {{ mobile_2x.url }} 2x" />

                {# For desktop: #}
                {% set desktop_1x = resize_image(path=path, width=100, op='fit_width', format='webp') %}
                {% set desktop_2x = resize_image(path=path, width=200, op='fit_width', format='webp') %}
                <img src="{{ desktop_2x.url }}" srcset="{{ desktop_1x.url }}, {{ desktop_2x.url }} 2x" loading="lazy" alt="Racoon" width="100" height="155" />
              </picture>
            </a>
          </div>

          <nav class="navigation">
            <div class="header-home">
              <a href="/">
                <h2>zaynetro.com</h2>
              </a>
            </div>

            <ul class="header-external">
              <li class="header-link-github">
                <a href="https://github.com/{{ config.extra.github }}">GitHub</a>
              </li>

              <li class="header-link-profile">
                <a href="{{ config.extra.cv | safe }}">CV</a>
              </li>

              <li>
                <a href="mailto:{{ config.extra.email }}">Get in touch</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    {% block content %}
    {# Content block. Child pages should override it. #}
    {% endblock content %}

    <section class="footer">
      <p>
        <span class="footer-name">
          {{ config.extra.footer_text }}
        </span>
        <span class="footer-year" id="currentYear">2020</span>
        <span class="footer-separator">|</span>
        <span><a href="{{ config.extra.site_source }}">Source</a></span>
        <span class="footer-separator">|</span>
        <span><a href="mailto:{{ config.extra.email }}">Get in touch</a></span>
      </p>

      <script>
        document.querySelector('#currentYear').textContent = new Date().getFullYear();
      </script>
    </section>
  </body>
</html>
