<article class="post-short">
  {% if page.extra.preview_image %}
  <div class="post-image">
    {% set path = page.extra.preview_image.href %}
    {% set alt = page.extra.preview_image.alt %}

    <picture>
      {# For mobile: #}
      {% set mobile_1x = resize_image(path=path, width=40, op='fit_width', format='webp') %}
      {% set mobile_2x = resize_image(path=path, width=80, op='fit_width', format='webp') %}
      <source media="(max-width: 500px)" src="{{ mobile_2x.url }}" srcset="{{ mobile_1x.url }}, {{ mobile_2x.url }} 2x" />

      {# For desktop: #}
      {% set image_1x = resize_image(path=path, width=60, op='fit_width', format='webp') %}
      {% set image_2x = resize_image(path=path, width=120, op='fit_width', format='webp') %}
      <img src="{{ image_2x.url }}" srcset="{{ image_1x.url }}, {{ image_2x.url }} 2x" loading="lazy" alt="{{ alt }}" />
    </picture>
  </div>
  {% else %}
  <div class="post-blank-image"></div>
  {% endif %}
  <div class="post-text">
  <h3 class="post-meta">
    <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
  </h3>
  <h2 class="post-title">
    {% if page.draft %}<i>Draft: </i>{% endif %}
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
  </h2>
  </div>
</article>
